{% extends 'book/base.html' %}

{% block content %}
    <div id="content">

        {% include "book/content-header.html" %}

        <div class="container">
            <h2>{{ title }}</h2>
            <p>
                Medzi elementárne veci, ktoré si môžeme vybaviť pri slovnom spojení „Bezpečné používanie internetu“ sú
                pojmy ako opatrnosť, firewall a antivirus, silné heslo, obozretnosť. Jeden zo základných krokov
                používania internetu je nezdielať verejne príliš veľa informácii o sebe, svojom okolí alebo o iných
                ľuďoch. Jednoduchá verejne dostupná informácia ako „Túto sobotu sa chystáme sa dovolenku do Paríža“
                zverejnená na sociálnej sieti môže mať rôzne následky. Jeden z prípadov čo vďaka tejto informácii môže
                stať je že k nej môže dostať človek s úmyslom <a style="color: revert;" href="https://sileo.com/facebook-status-update-leads-to-robbery/">vykradnutia bytu</a>.
            </p>
            <div class="btn-group btn-group-sm d-flex justify-content-center" role="group">
                <a class="btn btn-primary m-1 rounded" href="{% url 'three' %}" role="button">{{ text_previous }}</a>
                <a class="btn btn-primary m-1 rounded" href="{% url 'three_one_one' %}" role="button">{{ text_next }}</a>
            </div>
        </div>
    </div>
{% endblock %}
