/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

b, strong {
    font-weight: 600;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 400px;
    position: fixed;
    top: 0;
    left: -400px;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebarCollapse{
    color: white;
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #7386D5;
    position: absolute;
    top: 18px;
    right: 30px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}


#sidebar ol li a:hover {
    color: #7386D5;
    background: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

ol, ul {
    counter-reset: item;
    padding-inline-start: 15px;
}

li {
    display: block
}

ol li:before {
    content: counters(item, ".") " ";
    counter-increment: item
}

ol:first-of-type {
    counter-reset: item;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

.book-title-text {
    color: #60a5d0;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #60a5d0;
}

.book-cover {
    height: auto;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.tipy li {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.tipyol li {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.tipy li:before {
    content: "";
    display: block;
    background-color: #8a8a8a;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    stroke: white;
    position: absolute;
    top: 10px;
    bottom: 0;
    left: -15px;
}

.quiz {
	 padding: 0 30px 20px 30px;
	 max-width: 960px;
	 margin: 0 auto;
}
 .quiz ul {
	 list-style: none;
	 padding: 0;
	 margin: 0;
}
 .quiz-question {
	 font-weight: bold;
	 display: block;
	 padding: 30px 0 10px 0;
	 margin: 0;
}
 .quiz-answer {
	 margin: 0;
	 padding: 10px;
	 background: #f7f7f7;
	 margin-bottom: 5px;
	 cursor: pointer;
}
 .quiz-answer:hover {
	 background: #eee;
}
 .quiz-answer:before {
	 content: "";
	 display: inline-block;
	 width: 15px;
	 height: 15px;
	 border: 1px solid #ccc;
	 background: #fff;
	 vertical-align: middle;
	 margin-right: 10px;
}
 .quiz-answer.active:before {
	 background-color: #333;
	 border-color: #333;
}
 .quiz-answer.correct:before {
	 background-color: green;
	 border-color: green;
}
 .quiz-answer.incorrect:before {
	 background-color: red;
	 border-color: red;
}
 .quiz-answer.active.correct:before {
	 outline: 2px solid green;
	 outline-offset: 2px;
}
 .quiz-result {
	 max-width: 960px;
	 margin: 0 auto;
	 font-weight: bold;
	 text-align: center;
	 color: #fff;
	 padding: 20px;
}
 .quiz-result.good {
	 background: green;
}
 .quiz-result.mid {
	 background: orange;
}
 .quiz-result.bad {
	 background: red;
}

 .video-container {
    overflow: hidden;
    position: relative;
    width:80%;
     margin: auto;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.footableOdd {
    background: #EEEEEE;
}

.btn-group {
    top: 10px;
}


@media (max-width: 1010px) {
    .book-title-text {
        font-size: 1.375rem;
    }

    .book-cover {
        width: 60%;
    }
}

@media (max-width: 760px) {
    .book-title-text {
        font-size: 1rem;
    }

    .book-cover {
        width: 80%;
    }
}

@media (max-width: 650px) {
    #sidebar {
        width: 100%;
        left: -100%;
    }

    .book-title {
        display: none;
    }

    .book-cover {
        width: 100%;
    }

    #myTable{
        font-size: 12px;
    }
}