{% extends 'book/base.html' %}

{% block content %}
    <div id="content">

        {% include "book/content-header.html" %}

        <div class="container">
            <h2>{{ title }}</h2>

            <div>
                <p>Ak vás niekto pomocou internetu obťažuje, vyhráža sa, ponižuje, uvádza do rozpakov alebo inak sa na
                    vás cielene zameriava, tak je potrebné proti tomu rozumne zakročiť. Kyberšikana môže byť
                    neuveriteľne znepokojujúca a zraňujúca, nehovoriac o tom, že je ťažké ju zvládnuť. Tvojim prvým
                    inštinktom môže byť vrátiť spätný úder útočníkovi, čo vlastne ani nemá zmysel lebo by to zbytočne
                    vyvolalo len ďalší podnet na to v tomto kolobehu pokračovať. Konajte zodpovedne, aby ste šikanu
                    zastavili, našli zdravé spôsoby, ako podporiť svoju sebaúctu, a snažte sa znižovať pravdepodobnosť
                    kyberšikany vo vlastnej i v budúcnosti vašich rovesníkov dodržiavaním aj už spomínanej netikety.</p>
            </div>

            <div>
                <p>Existujú tri efektívne metódy, vďaka ktorým sa dá kyberšikane vyhnúť, ubrániť alebo jej úplne
                    zamedziť.</p>
            </div>

            <h3>1. Metóda – Rozumná reakcia na šikanu:</h3>

            <div>
                <p><strong>Odolajte nutkaniu odpovedať priamo.</strong> Ak sa stretnete s kyberšikanou, najlepšou vašou
                    reakciou je neposkytnúť útočníkovi žiadnu konkrétnu reakciu. Odpoveď na tento zraňujúci komentár iba
                    zhorší problém, pretože dáva šikanujúcemu presne to, čo chce - pozornosť a výhovorku, aby
                    šikanovanie ešte viac stúplo. Ukľudni sa a pamätaj, že je v poriadku byť naštvaný, ale reagovaním na
                    tieto správy urážkou je iba prilievanie oleja do ohňa. Aj odpoveď bez urážok - napríklad „Prestaň“,
                    „To nie je vhodné“ alebo „Chystám sa ťa nahlásiť“, pravdepodobne spôsobí viac škody ako úžitku.
                    <strong>Odpovedajte vždy iba tichom.</strong></p>
            </div>
            <div>
                <p><strong>Uložte si každú správu, obrázok, e-mail alebo príspevok.</strong> Evidujte všetko, čo
                    dokazuje kyberšikanu. Uložte alebo - ešte lepšie - vytlačte každú zlú vec, ktorú pošlú. Môže prísť
                    deň, keď budete potrebovať tieto dôkazy, aby ste ich nahlásili a zastavili ich. Možno budete chcieť
                    kliknúť na „odstrániť“ v každom nenávistnom e-maile, SMS alebo okamžitej správe. <u>Toto však nie je
                        správna cesta.</u> Pamätajte, že môže prísť čas, keď bude potrebné nahlásiť tohto útočníka - a
                    budete
                    potrebovať všetky dôkazy priamo pred sebou.</p>
            </div>
            <div>
                <p><strong>Zhromaždite všetky identifikačné informácie o útočníkovi.</strong> E-maily, prezývky a
                    zverejnené obrázky môžu klamať a môžu útočníka dočasne maskovať. Ak sa vám podarí identifikovať
                    útočníka, uchovávajte tieto informácie iba ako dôkaz. Nikdy sa nepokúšajte postaviť priamo osobe.
                    Uchovávajte si záznamy o e-mailoch alebo prezývkach, z ktorých ste šikanu dostali. Skontrolujte, či
                    sa v doručenej pošte nachádzajú materiály alebo informácie ktoré by nejako odhalili jeho identitu.
                </p>
            </div>
            <div>
                <p><strong>Blokujte násilníkov a nahlasujte ich poskytovateľom služieb.</strong> Mnoho významných
                    stránok sociálnych sietí a iných poskytovateľov služieb obsahuje prominentné tlačidlá „BLOKOVAŤ“ a /
                    alebo „NAHLÁSIŤ“ pri každej prijatej správe alebo príspevku. Tieto tlačidlá slúžia aj kvôli
                    problémom spojené s kyberšikanou a preto sa ich nebojte použiť. Môžete tak napríklad anonymne a
                    ľahko zablokovať používateľov prípadne nahlásiť útočníkov a nežiaduce príspevky na Facebooku.</p>
            </div>
            <div>
                <p><strong>Povedzte to dôveryhodnému dospelému človeku.</strong> Kyberšikana je zraňujúca a nesprávna no
                    nemusíte ju brať ako niečo, s čím „musíte len žiť“. Zverte sa rodičom, učiteľom, trénerom alebo iným
                    dospelým, ktorým dôverujete. Predložte dôkazy, ktoré ste zhromaždili, a nehanbite sa hovoriť o tom,
                    ako sa cítite. Dospelí môžu pomôcť, podniknúť ďalšie kroky na zastavenie útočníka a môžu vám pomôcť
                    aj pri riešení tejto skúsenosti. Aj keď ku kyberšikane dôjde nad rámec školského majetku alebo
                    vyučovacích hodín, nahláste to učiteľovi, poradcovi alebo riaditeľovi. Školy sú zodpovedné za
                    zastavenie útočníkov a ochranu svojich žiakov bez ohľadu na okolnosti.</p>
            </div>
            <div>
                <p><strong>Nahláste závažné alebo prebiehajúcich šikany zákonným orgánom.</strong> V prvom prípade
                    existuje aj linka detskej istoty, na ktorej pracujú profesionálny psychológovia ktorí vám budú
                    vedieť pomôcť. Šikana akéhokoľvek druhu vrátane kyberšikany je vo väčšine prípadov nezákonná.
                    Nechajte dospelých, ktorým ste sa zverili, určiť, ako postupovať - mohli by sa najskôr obrátiť na
                    rodičov násilníka alebo sa obrátiť priamo na úrady. Ak ste šikanovaním utrpeli značnú bolesť ako
                    napr. poníženie, vyhrážanie alebo vám hrozilo ublíženie na zdraví, pre útočníka by to mohlo znamenať
                    vylúčenie zo školy alebo dokonca aj zatknutie políciou. Akékoľvek dôkazy o šikanovaní, ktoré ste
                    zachránili, budú orgánom veľmi užitočné. Majte na pamäti, že ak ste na šikanu reagovali šikanou,
                    potom už nezáleží na tom, kto ju začal.</p>
            </div>

            <h3>2. Metóda – Zmeň myšlienky</h3>

            <div>
                <p><strong>Odstráňte šikanu z dohľadu.</strong> Uložte si správy alebo obrázky ako dôkaz, ale
                    nepozastavujte sa nad nimi. Urobte maximum, aby ste šikanu odstránili z dohľadu a mysle. Útočník
                    predsa chce, aby ste boli posadnutí tým, čo napísali alebo zverejnili. Nemusíte predsa hrať ich hru.
                </p>
            </div>

            <div>
                <p><strong>Zostaňte radšej pri svojich pozitívnych vlastnostiach.</strong> Nedá sa to poprieť - bolí to,
                    keď niekto, koho dobre poznáte napíše niečo ako: „Si tučný, škaredý a nikto ťa nikdy nebude
                    milovať.“ Ale skutočne ťa nepoznajú - ty sa však poznáš. Viete, že nie ste dokonalí, ale že ste
                    láskaví, veľkorysí, vytrvalí alebo tvoriví a máte množstvo ďalších skvelých vlastností. Zopakujte si
                    svoj zoznam pozitívnych vlastností pre seba, kedykoľvek sa začnete cítiť na dne.</p>
            </div>

            <div>
                <p><strong>Nájdite si čas na svojich skutočných priateľov.</strong> Každý, kto vás šikanuje, nie je
                    skutočným priateľom. Nestrácajte s nimi čas. Namiesto toho sa zamerajte na priateľov, ktorí vás
                    podporujú a ktorí vás prijímajú za to, aký skutočne ste. Nájdite si dobrého poslucháča, či už je to
                    spolužiak, príbuzný atď. - niekto, kto chce, aby ste vyjadrili, ako sa cítite. Ak vás šikanujú
                    preto, že „nemáte žiadnych priateľov“ alebo „vás nikto nemá rád“, nenechajte sa chytiť do pasce
                    viery v útočníka. Ktokoľvek si môže nájsť priateľov - buďte sami sebou, hľadajte ďalších s podobnými
                    záujmami, dajte ostatným príležitosť spoznať vás a buďte sami dobrým priateľom.</p>
            </div>

            <div>
                <p><strong>Daj si pauzu.</strong> Ak sa pri každodennej digitálnej rutine cítite kvôli šikanovaniu dole,
                    skúste to zmeniť. <u>Odstráňte svoje profily z webov</u>, na ktorých došlo k najhoršiemu
                    šikanovaniu. <u>Znížte čas, ktorý trávite online</u>, alebo počet ľudí, s ktorými komunikujete.
                    Zvážte možnosť absolvovať úplnú kybernetickú dovolenku, aby ste sa uzdravili z rán zo svojej šikany.
                    Možno by vás ohromilo množstvo voľného času, ktoré získate počas tejto dovolenky. Používajte ho s
                    rozumom pri činnostiach, vďaka ktorým sa budete cítiť lepšie ako vy.</p>
            </div>

            <div>
                <p><strong>Robte veci, ktoré vás bavia.</strong> Útočníci sa vám snažia ukradnúť radosť, zvyčajne preto,
                    že hľadajú pozornosť alebo sa snažia vyrovnať s vlastnou bolesťou. Vaše šťastie je však vo vašich
                    rukách. Nedovoľte, aby vám klamstvá, kruté vtipy alebo ostré slová niekoho iného zabránili robiť
                    veci, ktoré vás skutočne robia šťastnými. Vyskúšajte vo svojom živote niečo nové, môže to poskytnúť
                    rozptýlenie aj zvýšenú sebaúctu. Napríklad, ak ste radi v kuchyni, prihláste sa na kurz varenia s
                    rodičom alebo priateľom. Alebo, ak radi milujete pobyt s domácimi miláčikmi, zaregistrujte sa v
                    miestnom útulku pre zvieratá.</p>
            </div>

            <h3>3. Metóda – Redukujte to, čo o vás internet vie</h3>

            <div>
                <p><strong>Vaše osobné údaje sú súkromné.</strong> Svoj e-mail, správy, blog alebo akúkoľvek inú
                    informáciu o vás rozdávajte iba ľuďom, ktorým absolútne dôverujete alebo ich osobne poznáte. Nikdy
                    neposkytujte žiadne zo svojich hesiel (pre e-maily, blog alebo účty na sociálnych sieťach) nikomu,
                    ani najlepšiemu priateľovi, ktorého ste poznali z materskej školy. Nikdy nezdieľajte svoje telefónne
                    číslo ani adresu domova cez internet.</p>
            </div>

            <div>
                <p><strong>Všetko zverejňujte opatrne a premyslene.</strong> Útočníci môžu jednoducho použiť všetko
                    proti vám – prekrútiť vaše slová alebo dokonca pretvoriť vaše fotky. Predtým, ako kliknete na
                    „nahrať“, „odoslať“ alebo „zdieľať“, zastavte sa a popremýšľajte, či chcete, aby ktokoľvek a
                    kdekoľvek mohol mať prístup k týmto informáciám. Zverejňovanie informácií o vašom súčasnom
                    partnerovi alebo partnerke, zdieľanie fotiek, na ktorých ste na večierkoch s priateľmi, sa teraz
                    môže javiť ako dobrý nápad, ale čo tak o rok?</p>
            </div>

            <div>
                <p><strong>Používajte správne nastavenia účtu.</strong> Zamedzte prístup k svojim citlivým údajom a
                    informáciam pomocou rôznych nastavení v danej aplikácii. Naučte sa, ako obmedziť prístup k vašim
                    informáciám a ako nahlásiť porušenie súkromia a prípady šikanovania. Pokiaľ je to možné, obmedzte
                    prístup k svojmu digitálnemu životu iba na tých ľudí, ktorým skutočne dôverujete.</p>
            </div>

            <div class="btn-group btn-group-sm d-flex justify-content-center" role="group">
                <a class="btn btn-primary m-1 rounded" href="{% url 'four_one' %}" role="button">{{ text_previous }}</a>
                <a class="btn btn-primary m-1 rounded" href="{% url 'five' %}" role="button">{{ text_next }}</a>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
