{% extends 'book/base.html' %}

{% block content %}
    <div id="content">

        {% include "book/content-header.html" %}

        <div class="container">
            <h2>{{ title }}</h2>
            <p>
                Internet, nazývaný ako aj skratkou „net“ je celosvetový systém počítačových sietí, ktoré dokážu medzi
                sebou komunikovať. Ak to používateľ dovolí, dva alebo viacero počítačov pripojené v tejto sieti dokážu
                nielen komunikovať, ale aj získavať a odosielať informácie.
            </p>
            <p>
                Internet bol navrhnutý americkou spoločnosťou amerického ARPA (Advanced Research Projects Agency) v roku
                1969 pod názvom ARPANet. Pôvodným cieľom bolo vytvoriť sieť, ktorá by umožnila používateľom výskumného
                počítača na jednej univerzite „komunikovať“ s výskumnými počítačmi na iných univerzitách. Vedľajšou
                výhodou návrhu ARPANetu bola možnosť smerovania a presmerovanie správ viac ako len jedným smerom. Sieť
                takýmto spôsobom mohla pokračovať vo svojej činnosti aj v prípade prerušenia rôznych fyzických častí
                internetovej siete či už v prípade prírodnej katastrofy alebo vojny.
            </p>
            <p>
                Internet je dnes verejné, kooperatívne a sebestačné miesto prístupné stovkám miliónov ľudí na celom
                svete. Na trhu sa nachádza niekoľko operátorov ktorí poskytujú internetové služby bežným užívateľom za
                mesačný poplatok.
            </p>

            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/L05HGoaDkRo" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>

            <div class="btn-group btn-group-sm d-flex justify-content-center" role="group">
                <a class="btn btn-primary m-1 rounded" href="{% url 'obsah' %}" role="button">{{ text_previous }}</a>
                <a class="btn btn-primary m-1 rounded" href="{% url 'two' %}" role="button">{{ text_next }}</a>
            </div>
        </div>
    </div>
{% endblock %}
